/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Finally actual styling */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #393939;
  font-size: 1.6rem;
}

::selection {
  background-color: #ed3182;
  color: white;
}

.📦 {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width: 900px;
}


.🐱 {
  width: 10rem;
  margin-bottom: 11rem;
}

  .😼,
  .😺 {
    fill:none;
    stroke:#a9a9a9;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
  }

    .😼 {
      stroke: #991766;
      stroke-dasharray: 496;
      stroke-dashoffset: 496;
    }
    
    .😺 {
      stroke: #ed3182;
      stroke-dasharray: 458;
      stroke-dashoffset: 458;
    }
    
    @keyframes firstLine {
      0% { stroke-dashoffset: 496; }
      90% { stroke-dashoffset: 992; }
      100% { stroke-dashoffset: 992; }
    }
    
    @keyframes secondLine {
      0% { stroke-dashoffset: 458; }
      100% { stroke-dashoffset: 916; }
    }

.📄,
.📃 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.4;
}

.📑 {
  margin-bottom: 4rem;
  max-width: 60rem;
}

.🎊 {
  margin-bottom: 12rem;
}

.🎉 {
  margin-bottom: 1.6rem;
}

  .🧨 {
    color: #ed3182;
    text-decoration: none;
    font-weight: 600;
  }

    .🎈 {
      opacity: 0.4;
    }

.🏷️ {
  font-size: 1.2rem;
}

.♻️ .😼 {
  animation: firstLine 1.5s ease 0s 1 forwards;
}

.♻️ .😺 {
  animation: secondLine 1.5s ease 0s 1 forwards;
}

.💥 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 2s ease;
}

  .♻️ .💥 {
    opacity: 1;
    transform: translateY(0);
  }

@media (max-width: 900px) {
  .📦 {
    width: 100%;
    margin: 0 7rem;
  }
}

@media (max-width: 414px) {
  .📦 {
    position: static;
    transform: none;
    margin: 3rem 4rem 2rem 3rem;
    width: auto;
  }

  .📄,
  .📃 {
    font-size: 3.4rem;
  }
}

@media (max-width: 375px) {
  .🐱 {
    margin-bottom: 11vh;
  }

  .🎊 {
    margin-bottom: 14vh;
  }
}

@media (max-width: 320px) {
  .🐱 {
    width: 8rem;
    margin-bottom: 3rem;
  }

  .📄,
  .📃 {
    font-size: 3rem;
  }

  .🎊 {
    margin-bottom: 4rem;
  }
}